html{
    background-color: #F6F5EE;
}

.popup {
    display: none;
    position: relative;
    z-index: 9999 !important;
}

.fondfou {
    background-image: url("{{asset('/img/tresbeau.png')}}");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.center-popup {
    position: fixed; /* Positionnement fixe par rapport à la fenêtre */
    top: 50%; /* Positionnement à 50% du haut de la fenêtre */
    left: 50%; /* Positionnement à 50% de la gauche de la fenêtre */
    transform: translate(-50%, -50%); /* Déplace la pop-up de 50% vers le haut et vers la gauche */
    margin: auto; /* Centrage automatique si nécessaire */
}

button.btn-primary:disabled {
    background-color: #f3f1f1 !important;
    border-color: #eeebeb;
}   

button.btn-primary {
    background-color: #EC3B53 !important;
    border-color: #eeebeb;
    color: #f3f1f1;
}

button.btn-primary:hover {
    background-color: #f3f1f1 !important;
    color: #EC3B53 !important;;
}

--bs-card-bg{
    background-color: #F6F5EE !important;
}

.blur-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(8px);
    z-index: 1;
}