body{
  background-color: #f6f5ee;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  font-family: 'Roboto', sans-serif;
  font-size: 2.5em;
  color: #f6f5ee;
  text-shadow: 2px 2px 2px #000000;
  margin-top: 50px;
}

.lapage{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 50px;
}