/***********************************************************************************************************
************************************************************************************************************
************************************************************************************************************
CSS de la navbar début
************************************************************************************************************
************************************************************************************************************
***********************************************************************************************************/

@font-face {
	font-family: 'Montserrat';
	src: url("/fonts/Montserrat-Regular.woff2") format("woff2");
    font-weight: 500;
}

@font-face {
	font-family: "Montserrat-Light";
	font-weight: 400;
	src: url("/fonts/Montserrat-Light.woff2") format("woff2");
    /*src: url("{{asset('/fonts/RocaOne-Rg.woff2')}}") format("woff2");*/
}

@font-face {
	font-family: "RocaOne";
	font-weight: 400;
	src: url("/fonts/RocaOne-Rg.woff2") format("woff2");
    /*src: url("{{asset('/fonts/RocaOne-Rg.woff2')}}") format("woff2");*/
}

li.separer {
    border-right: solid 1px black;
}

nav a{
    color: #F6F5EE;
}

.logo_m {
    display: none;
}

@media screen and (max-width: 573px) {

    a#inscription {
        display: none;
    }

    .logo_d {
        display: inline-block;
        box-sizing: content-box;
    }

    .logo_m {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .logo_d {
        display: none;
        box-sizing: content-box;
    }

    .logo_m {
        display: inline-block;
        width: 20%;
    }

    a#inscription {
        display: block;
    }
}

@media screen and (max-width: 1000px) {
    li.separer {
        border-right: none;
        border-bottom: solid 1px black;
        margin-bottom: 10px;
    }
}


/***********************************************************************************************************
************************************************************************************************************
************************************************************************************************************
CSS de la navbar fin
************************************************************************************************************
************************************************************************************************************
***********************************************************************************************************/

/***********************************************************************************************************
************************************************************************************************************
************************************************************************************************************
CSS de la page de paiement début
************************************************************************************************************
************************************************************************************************************
***********************************************************************************************************/
body.paiement {
    background-color: #F6F5EE;
}

body.paiement h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-left: 1%;
    letter-spacing: -0.6px;
}

body.paiement + input {
    border-radius: 15px;
    border: 1px solid #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.6px;
    color: #000000;
    background-color: #FFFFFF;
    flex-shrink: 0;
    padding: 1%;
    margin: 1%;

}

body.paiement .form-control {
    width: 50%;
    border-radius: 0.8em;
}

body.paiement div {
    display: flex;
    margin: 1%;
    align-items: center;
}

body.paiement .calendar-content {
    display: flex;
    align-items: baseline;
}


body.paiement .datepicker {
    display: flex;
    align-items: center;
    padding: 1%;
}

body.paiement .input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    border-radius: 0.8em;
    flex: 0.5;
    margin-left: 2%;
}

body.paiement h6 {
    margin: 2%;
}

body.paiement .mb-3 {
    padding: 2%;
    margin: 1%;
    margin-bottom: 0%!important;
}

body.paiement html body div form div.mb-3 + div.mb-3 + .datepicker + div.mb-3 input{
    width: 20%;
}
body.paiement div form div.mb-3:first-child li {
    list-style: none;
    width: 18em;
}

body.paiement div form div.mb-3 li {
    list-style: none;
    width: 25%;
}

body.paiement div form div.datepicker div li {
    list-style: none;
}

body.paiement div form div.datepicker + div.mb-3  li {
    list-style: none;
    width: auto;
    display: flex;
    align-items: center;
}

body.paiement div form div.mb-3 + div.mb-3 + .datepicker + div.mb-3 input{
    width: 20%;
    margin-left: 2%;
}

body.paiement section button:first-child {
    background-color: #EC3B53;
    border-radius: 0.5em;
    border: none;
    width: 40%;
    height: 2em;
    flex-shrink: 0;
    color: #FFFFFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.3px;
    margin-left: 15%;
    margin-top: 5%;
}

body.paiement section + section li {
    list-style: none;
    margin-left: 1%;
    width: auto;
}

body.paiement section + span + section button {
    background-color: #EC3B53;
    border-radius: 0.5em;
    border: none;
    width: 70%;
    height: 2em;
    flex-shrink: 0;
    color: #FFFFFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.3px;
}

body.paiement section + span + section .mb-3 {
    margin: 0%;
    width: 100%;
    display: flex;
    align-items: baseline;
}

body.paiement section + span + section {
    margin-left: 2%;
}

body.paiement .vertical-line{
    border-left: 2px solid #000;
    display: inline-block;
    height: 25em;
    margin: 0 20px;
}

body.paiement .image_nom {
    width: 8%;
}

/***********************************************************************************************************
************************************************************************************************************
************************************************************************************************************
CSS de la page de paiement FIN
************************************************************************************************************
************************************************************************************************************
***********************************************************************************************************/

/***********************************************************************************************************
************************************************************************************************************
************************************************************************************************************
CSS de la d'accueil début 
************************************************************************************************************
************************************************************************************************************
***********************************************************************************************************/

.video-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -5;
}

.video-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    position: fixed;
}

nav {
    z-index: 1;
}

#accueil section,h2{
    position: relative;
    background-color: #F6F5EE;
    z-index: 1;
}

#accueil h1{
    font-family: 'RocaOne';
    text-align: center;
    position: absolute;
    top: 30vh;
    width: 100%;
    color: #F6F5EE;
    text-shadow: 0px 0px 10px rgba(236,59,83,0.75);
    font-size: 10vh;
}

#accueil {
    background-color: #F6F5EE;
}

#accueil .mieuxNote {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    padding-bottom: 50px;
}

#accueil .liste-card .lienCard {
    margin-left: 5vw;
    margin-top: 5vh;
}

#accueil .mieuxNote h2 {
    font-family: 'Montserrat';
    text-align: center;
    color: #EC3B53;
    margin: 50px 0;
}

#accueil .liste-card {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-wrap: wrap;
    padding-right: -5vw;
}

#accueil .autres .liste-logement{
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

#accueil .autres {
    padding-top: 50px;
}

#accueil .autres h2 {
    margin: 50px 0;
    font-family: 'Montserrat';
    text-align: center;
    color: rgb(236, 59, 83);
    margin: 0px 50px 50px 50px;
}

#accueil nav {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
}

#accueil nav + hr {
    display: none;
}

#accueil footer {
    position: relative;
}

#accueil .listeBtnTri {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: fit-content;
}

#accueil .listeBtnTri button,select {
    border-radius: 6px;
    border: 1px solid #EC3B53;
    background-color: #F6F5EE;
    color: #EC3B53;
    padding: 5px 15px;
    font-family: 'Montserrat';
}

#accueil .listeBtnTri button:hover {
    border-radius: 6px;
    border: 1px solid #EC3B53;
    background-color: #EC3B53;
    color: #F6F5EE;
    padding: 5px 15px;
    font-family: 'Montserrat';
    transition: 0.4s;
}

#accueil .listeBtnTri button + select + button{
    margin-left: 15px;
}

#accueil .listeBtnTri select {
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 15px;
}

/***********************************************************************************************************
************************************************************************************************************
************************************************************************************************************
CSS de la d'accueil FIN 
************************************************************************************************************
************************************************************************************************************
***********************************************************************************************************/

/***********************************************************************************************************
************************************************************************************************************
************************************************************************************************************
CSS du composant Card début 
************************************************************************************************************
************************************************************************************************************
***********************************************************************************************************/

.cardLogement {
    margin: 0 0 0 0;
    padding: 0;
    width: 284px;
    height: 389px;
    border-radius: 10px;
    background-color: #F6F5EE;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.40);
}

.cardLogement:hover {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    transition: 0.4s;
}

.cardLogement img {
    width: 100%;
    height: 50%;
    border-radius: 10px 10px 0 0;
}

.cardLogement .icon {
    display: block;
    width: 20px;
    height: 20px;
    margin-left: 1vw;
    background-image: url("/img/etoile.png");
    background-size: contain;
}

.premLigne {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.note {
    display: flex;
    align-items: flex-start;
    margin-right: 15px;
}

.note p {
    margin-left: 5px;
}

.desc {
    width: 99%;
    height: 70px;
    overflow: hidden;
}

.prix p {
    margin: 0;
    color: #EC3B53;
}

.prix, .premLigne, .desc{
    margin: 0 0 0 5px;
}

.prix {
    margin-bottom: 5px;
}

.lienCard {
    text-decoration: none;
    color: black;
}

.cardLogement h3 {
    margin: 0;
}

.desc p {
    margin-top: 0;
}

/***********************************************************************************************************
************************************************************************************************************
************************************************************************************************************
CSS du composant Card fin 
************************************************************************************************************
************************************************************************************************************
***********************************************************************************************************/

/***********************************************************************************************************
************************************************************************************************************
************************************************************************************************************
CSS de la page mes logements début 
************************************************************************************************************
************************************************************************************************************
***********************************************************************************************************/

.mesLogementsPage {
    background-color: #F6F5EE;
}

.mesLogementsPage nav {
    background-color: rgba(0, 0, 0, 0);
}

.mesLogementsPage .listeMesLogement {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    justify-content: center;
}

.mesLogementsPage .lienCard {
    width: fit-content;
    height: fit-content;
    display: block;
    margin-left: 5vw;
    margin-top: 5vh;
}

.mesLogementsPage .mesLogements hr {
    width: 90%;
    margin: 5vh auto;
    color: rgba(0,0,0,0.50);
}

.mesLogementsPage .mesLogements h2 {
    margin: 50px 0;
    font-family: 'Montserrat';
    text-align: left;
    color: rgb(236, 59, 83);
    margin: 50px 50px 5px 50px;
    background-color: rgba(0, 0, 0, 0);
}

.mesLogements .logementEnLigne {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.mesLogements .btnHL {
    margin-top: 15px;
    padding: 5px;
    background-color: #F6F5EE;
    border-radius: 6px;
    font-family: 'Montserrat';
    text-decoration: none;
    margin-left: 5vw;
}

.mesLogements .HL {
    color: #EC3B53;
    background-color: #F6F5EE;
    border: 1px solid #EC3B53;
}

.mesLogements .HL:hover {
    color: #F6F5EE;
    background-color: #EC3B53;
    transition: 0.4s;
}

.mesLogements .EL {
    color: #21610B;
    background-color: #F6F5EE;
    border: 1px solid #21610B;
}

.mesLogements .EL:hover {
    color: #F6F5EE;
    background-color: #21610B;
    transition: 0.4s;
}

.mesDevis {
    padding: 0 5vw;
    margin-bottom: 4rem, 0;
}

.mesLogementsPage .mesDevis h2 {
    margin-bottom: 5vh;
    color: #EC3B53;
    font-family: 'Montserrat';
}

/***********************************************************************************************************
************************************************************************************************************
************************************************************************************************************
CSS de la page mes logements fin 
************************************************************************************************************
************************************************************************************************************
***********************************************************************************************************/


/***********************************************************************************************************
************************************************************************************************************
************************************************************************************************************
CSS du composant devis début 
************************************************************************************************************
************************************************************************************************************
***********************************************************************************************************/

.mesLogementsPage .devis {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15vh;
    margin: 15px 0;
}

.mesLogementsPage .devis .vignette {
    width: 10vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.mesLogementsPage .devis .vignette img {
    width: 100%;
    height: 85%;
    border-radius: 6px;
}

.mesLogementsPage .devis .validerDevis{
    border: 1px solid #21610B;
    color: #21610B;
    font-family: 'Montserrat';
    background-color: #F6F5EE;
    border-radius: 6px;
    padding: 5px;
    margin-right: 5px;
    text-decoration: none;
}

.mesLogementsPage .devis .validerDevis:hover{
    color: #F6F5EE;
    font-family: 'Montserrat';
    background-color: #21610B;
    transition: 0.4s;
}

.mesLogementsPage .devis .refuserDevis{
    border: 1px solid #EC3B53;
    color: #EC3B53;
    font-family: 'Montserrat';
    background-color: #F6F5EE;
    border-radius: 6px;
    padding: 5px;
    text-decoration: none;
}

.mesLogementsPage .devis .refuserDevis:hover{
    color: #F6F5EE;
    font-family: 'Montserrat';
    background-color: #EC3B53;
    transition: 0.4s;
}

.mesLogementsPage .devis strong {
    font-family: 'Montserrat';
    color: #EC3B53;
}

.mesLogementsPage .mesReservations {
    padding: 0 5vw;
}

.mesLogementsPage .mesReservations .listeMesReservations {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 15vh;
    margin: 15px 0;
}

/***********************************************************************************************************
************************************************************************************************************
************************************************************************************************************
CSS du composant devis fin 
************************************************************************************************************
************************************************************************************************************
***********************************************************************************************************/