@font-face {
	font-family: 'Montserrat';
	src: url("fonts/Montserrat-Regular.woff2") format("woff2");
    /*src: url("{{asset('/fonts/RocaOne-Rg.woff2')}}") format("woff2");*/
    font-weight: 500;
}

@font-face {
	font-family: "Montserrat-Light";
	font-weight: 400;
	src: url("fonts/Montserrat-Light.woff2") format("woff2");
    /*src: url("{{asset('/fonts/RocaOne-Rg.woff2')}}") format("woff2");*/
}

@font-face {
	font-family: "RocaOne";
	font-weight: 400;
	src: url("fonts/RocaOne-Rg.woff2") format("woff2");
    /*src: url("{{asset('/fonts/RocaOne-Rg.woff2')}}") format("woff2");*/
}

body {
    background-color: #F6F5EE !important;
}


.carousel-control-prev-icon {
    background-image: url('../img/prev.png') !important;
    width: 51% !important;
    height: 16% !important;
}

.carousel-control-next-icon {
    background-image: url('../img/next.png') !important;
    width: 51% !important;
    height: 16% !important;
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: flex !important;
    margin-left: -4%;
    transition: transform .0s ease !important;
}

.carousel-item.active div img {
    width: 120% !important;
    padding-bottom: 10% !important;
    margin-left: 2% !important;
    padding-bottom: 4% !important;
}

.carousel-indicators .active {
    background-color: #EC3B53 !important;
}

.carousel-control-prev, .carousel-control-next {
    height: 60% !important;
    width: 10% !important;
    margin-top: 1% !important; /* Ajuste la marge autour de la zone cliquable */
    margin-bottom: 1% !important; /* Ajuste la marge autour de la zone cliquable */
    top: 10% !important;
}

.carou {
    width: 80%;
    height: 80%;
    margin: auto;
    margin-top: 2%;
}

.carou img {
    width: 70% !important;
    height: 55% !important;
    margin-left: 5%;
}

.second h1 {
    color: #EC3B53;
    margin-left: 15%;
    margin-top: 5%;
    width: 70%;
    height: 10%;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.6px;
    font-family: 'RocaOne';
}

.second h1 + h1{
    margin-top: 8%;
}

.Caracteristiques + h1{
    margin-top: 0;
}

.second {
    display: flex;
}

.second div {
    width: 70%;
    height: 100%;
}

.leStick {
    position: sticky;
    top: 5%;
    margin-top: 8%;
    border: solid 1px black;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
    height: 0% !important;
    width: 27% !important;
}

.leStick button {
    border-radius: 6px !important;
    border: 1px solid #EC3B53;
    background: #FFF;
    color: #EC3B53;
    text-align: center;
    font-family: 'Montserrat' !important;
    font-size: 20px !important;
    font-style: normal;
    font-weight: 500;
    line-height: normal !important;
    letter-spacing: -0.3px;
    width: 60%;
    height: 50px;
    margin-left: 18% !important;
}

.leStick button:hover {
    background-color: #EC3B53;
    color: #FFF;
    transition: 0.5s;
}


.calendar,
.ville,
.adresse,
.dimension {
    list-style: none;
    margin: 0;
    padding: 0;
}

.calendar::before {
    content: url('../img/calendar.png');
    vertical-align: middle;
    margin-right: 2%;
    margin-left: -12%;
}

.ville::before {
    content: url('../img/ville.png');
    vertical-align: middle;
    margin-right: 4%;
    margin-left: -9%;
}

.adresse::before {
    content: url('../img/adresse.png');
    /*content: url('{{asset('/img/adresse.png)}}')*/
    vertical-align: middle;
    margin-right: 5%;
    margin-left: -9%;
}

.dimension::before {
    content: url('../img/dimension.png');
    /*content: url('{{asset('/img/dimension.png)}}')*/
    vertical-align: middle;
    margin-right: 2%;
    margin-left: -9%;
}

.leStick p {
    color: #000;
    font-family: 'Montserrat';
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.leStick li {
    color: #000;
    font-family: 'Montserrat';
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.Caracteristiques {
    display: flex;
    flex-wrap: wrap; /* Permet le passage à la ligne lorsque l'espace est insuffisant */
    margin-left: 11%;
    width: 50%;
}

.rectangle {
    border-radius: 20px;
    border: 3px solid #4BCBFF;
    padding: 1% 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 6%;
    margin-bottom: 5%;
    width: 27% !important;
    height: 0% !important;
}

.rectangle p {
    color: #000;
    font-family: 'Montserrat';
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0rem;
}

.Caracteristiques + h1 + p {
    color: #000;
    font-family: 'Montserrat';
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 50%;
    height: 50%;
    margin-left: 15%;
}
.Caracteristiques + h1 + p + p {
    color: #000;
    font-family: 'Montserrat';
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 50%;
    height: 50%;
    margin-left: 15%;
}
.Caracteristiques + h1 + p + p + p{
    color: #000;
    font-family: 'Montserrat';
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 50%;
    height: 50%;
    margin-left: 15%;
}
.Condition_annul h5{
    color: #000;
    font-family: 'Montserrat';
    font-size: 25px;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.375px;
    width: 50%;
    height: 50%;
    margin-left: 20%;
}
.Condition_annul h5 + p{
    color: #000;
    font-family: 'Montserrat-Light';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 50%;
    height: 50%;
    margin-left: 20%;
}

.Condition_annul {
    margin-left: 1%;
}

.nb_chambre {
    margin-left: 15%;
    color: #000;
    font-family: 'Montserrat';
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0rem;
}

.chambre {
    margin-left: 15%;
}

.chambre p {
    color: #000;
    font-family: 'Montserrat-Light';
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0rem;
}

.chambre p:first-child {
    color: #000;
    font-family: 'Montserrat';
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0rem;
}

.not_paypal {
    margin-left: 15%;
    margin-top: 5%;
    color: #000;
    font-family: 'Montserrat-Light';
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0rem;
}

.have_paypal {
    margin-left: 15%;
    margin-top: 5%;
    color: #000;
    font-family: 'Montserrat-Light';
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0rem;
}

/* Styles pour les écrans de petite taille */
@media (max-width: 800px) {
    .second {
        flex-direction: column;
    }

    .second div {
        width: 90%;
        height: auto;
    }

    .leStick {
        margin-top: 5%;
        width: 80% !important;
        margin-left: auto;
        margin-right: auto;
        padding: 5%;
    }

    .Caracteristiques {
        width: 90%; /* Ajustez selon vos besoins */
        margin-left: 5%;
        margin-top: 50px;
    }

    .rectangle {
        width: 45% !important; /* Ajustez selon vos besoins */
    }
}

@media(min-width: 768) {
    .carou {
        width: 60%;
        height: 70%;
        margin: auto;
        margin-top: 2%;
    }

    .carou img {
        width: 70% !important;
        height: 55% !important;
        margin-left: 5%;
    }
}

@media (min-width: 568px) {
    .second div {
        width: 60%;
        height: 100%;
    }

    .leStick {
        margin-top: 5%;
        margin-left: 5%;
    }

    .Caracteristiques {
        margin-left: 10%;
        width: 70%;
    }

    .rectangle {
        width: 220px !important;
        height: 0% !important;
    }
}

/* Styles pour les écrans de petite taille */
@media (max-width: 567px) {
    .carou {
        width: 90%;
        height: 50%;
        margin: auto;
        margin-top: 2%;
    }

    .carou img {
        width: 100% !important;
        height: auto !important;
        margin-left: 0;
    }

    .second div {
        width: 90%;
        height: auto;
    }

    .leStick {
        margin-top: 5%;
        width: 80% !important;
        margin-left: auto;
        margin-right: auto;
        padding: 5%;
    }

    .Caracteristiques {
        width: 90%; /* Ajustez selon vos besoins */
        margin-left: 5%;
        margin-top: 50px;
    }

    .rectangle {
        width: 45% !important; /* Ajustez selon vos besoins */
    }

    .carousel-control-prev-icon{
        display: none !important;
    }

    .carousel-control-next-icon{
        display: none !important;
    }
}

.demande_devis .datepicker-input {
    width: 50%;
    height: 40px;
    border-radius: 10px;
    border: solid 1px #EC3B53;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 5%;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.225px;
    color: #000;
    font-family: 'Montserrat';
}

.demande_devis .datepicker-input::placeholder {
    color: #000;
    font-family: 'Montserrat';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.225px;
}

.demande_devis div {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.demande_devis label {
    color: #000;
    font-family: 'Montserrat';
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.customButton {
    background-color: #21610B !important;
}