@font-face {
	font-family: 'Montserrat';
	src: url("fonts/Montserrat-Regular.woff2") format("woff2");
    /*src: url("{{asset('/fonts/RocaOne-Rg.woff2')}}") format("woff2");*/
    font-weight: 500;
}

@font-face {
	font-family: "Montserrat-Light";
	font-weight: 400;
	src: url("fonts/Montserrat-Light.woff2") format("woff2");
    /*src: url("{{asset('/fonts/RocaOne-Rg.woff2')}}") format("woff2");*/
}

@font-face {
	font-family: "RocaOne";
	font-weight: 400;
	src: url("fonts/RocaOne-Rg.woff2") format("woff2");
    /*src: url("{{asset('/fonts/RocaOne-Rg.woff2')}}") format("woff2");*/
}
body{
    background-color: #F6F5EE;
}

h2{
    font-size: calc(1.325rem + .9vw);
    font-weight: 500;
    color: rgb(236, 59, 83);
    font-family: 'Montserrat';
    z-index:0;
}
h3{
    font-size: 40px;
    font-weight: bolder;
    text-align: left;
    z-index:0;
}

p{
    font-size: 30px;
}

button{
    font-size: 30px;
    
}
h4{
    font-size: 20px;
}
.bouttons_suivant{
    width: 13%;
    display: flex;
    justify-content: space-around;
    background-color: #6D6D6D;
    color: #ffff;
    border-radius: 6px;
    margin: 10px;
}

.bouttons_retour{
    width: 13%;
    display: flex;
    justify-content: space-around;
    background-color: #6D6D6D;
    color: #ffff;
    border-radius: 6px;
    margin: 10px;
}

body{
    background-color: #F6F5EE;
}
#texte_page_1{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.texte_justifie{
    text-align: center;
}

#droite_page_2 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#page_2 {
    display: flex;
    justify-content: space-between;
}

#gauche_page_2 {
    flex: 1;
}
#t1-t2{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 6%;
    
}
#t3-t4{
    display: flex;
    width: 100%;
    justify-content: center;
}

#studio-duplex{
    display: flex;
    width: 100%;
    justify-content: center;

}

#footer{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #EC3B53;
    background-color: #F6F5EE;
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 70px;
}



#gauche_page_2{
    width: 50%;
    border-right: 1px solid #000;
    margin-top: 5vh;
    height: 880px;
}

#droite_page_2{
    width: 50%;
    margin-top: 5vh;

}
.boutton_selection {
    background-color: #F6F5EE;
    border: 1px solid #4BCBFF;
    border-radius: 6px;
    padding: 8px 12px;
    margin: 4px;
    cursor: pointer;
  }

  .boutton_selection:hover {
    background-color: #ddd;
  }

  .boutton_selection.selected {
    background-color: #4BCBFF;
    color: #000;
  }
  .boutton_selection.selected2 {
    background-color: #4BCBFF;
    color: #000;
  }

  .image-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
    
}
.bouttons_retour{
    border: none;
    background-color: #6D6D6D;
    cursor: pointer;
}
.bouttons_suivant{
    border: none;
    background-color: #6D6D6D;
    cursor: pointer;
}
.bouttons_retour:hover{
    background-color: #ddd;
}
.bouttons_suivant:hover{
    background-color: #ddd;
}
.image-container {
    flex: 1;
    height: 0px;
}
#titre_page_4{
	margin-left:1%;

}
.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.image-button span {
    padding: 10px;
    text-align: center;
    transition: background 0.3s ease;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
}

.button-row {
    display: flex;
    justify-content: center;
}
#colonne_droite_1{
    display: flex;
    flex-direction: column;
}
#colonne_droite_2{
    display: flex;
    flex-direction: column;
}

.image-button {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin: 5px; 
    width: 30%; 
}

.image-container {
    flex: 1;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.image-button span {

    padding: 10px;
    text-align: center;
    transition: background 0.3s ease;
    width: 100%;
}


.image-button{
    border: 3px solid #4BCBFF;
}
#titre_colonne_gauche_page_2{
    padding-left: 15% ;
    margin-bottom: 5%;
}

#colonne_gauche_page_3{
    width: 50%;
    height: 680px;
    border-right: 1px solid black;
    padding-left: 1%;
}
#colonne_droite_page_3{
    margin-left: 5%;
}
#description_logement{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#location_logement{
    display: flex;
    flex-direction: column;
}
#location_logement > input{
    border-radius: 6px;
    height: 30px;
    width: 75%;
    border: none;
}

#titre_logement{
    display: flex;
    flex-direction: column;
}

#titre_logement > input{
    border-radius: 6px;
    height: 30px;
    width: 75%;
    border: none;
}

#description_logement_input{
    border-radius: 6px;
    height: 150px;
    width: 105%;
    border: none;
}
#description_logement_precise{
    margin-top: 8%;
}
#nombre_de_personnes{
    display: flex;
    margin-right: 400px;
    width: 43%;
    justify-content: space-between;
}
#nombre_de_personnes > label{
    opacity: 50%;
}
textarea {
    border-radius: 6px;
    resize: none;
    border: none;
  }


/*PAGE 4*/

.chambres-container {
    display: flex;
    flex-direction: column;
}

.chambre {
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 2%
}

.chambre h4 {
    font-size: 20px;
    margin-bottom: 5px;

}

.chambre input,
.chambre textarea {
    border: none;
    border-radius: 6px;
    padding: 8px 12px;
    margin: 4px;
    width: 100%;
}
#chambres_container{
    display: flex;
    flex-direction: column;
}

/*PAGE 5*/
#gauche_page_5,
#droite_page_5 {
    width: 48%; /* Ajustez la largeur selon vos besoins */
}
#titre_gauche_page_5{
	margin-left: 15%;
}
#titre_droite_page_5{
	margin-left:15%;
}
#gauche_page_5 {
    border-right: 1px solid #000; /* Trait de séparation */
    height: 1280px;
}

#droite_page_5 {
    padding-left: 10px; /* Marge à gauche pour l'espace entre les boutons et le trait de séparation */
}

#gauche_page_5 h3,
#droite_page_5 h3 {
    text-align: center;
}

.button-row {
    display: flex;
    flex-wrap: wrap; /* Permet aux boutons de passer à la ligne lorsqu'ils n'ont plus de place */
    gap: 10px;
}



.image-button img {
    max-width: 100%;
    height: auto;
}

.image-container {
    width: 60px; /* Ajustez la taille de l'image */
    height: 60px; /* Ajustez la taille de l'image */
    overflow: hidden;
}

.image-button span {
    margin-left: 5px; /* Ajout d'une marge à gauche du texte */
}

#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*PAGE 6*/
#gauche_page_6,
#droite_page_6{
    width: 48%;
}
#gauche_page_6 {
    border-right: 1px solid #000; /* Trait de séparation */
    height: 800px;
    padding-right:1%;
}


.page-6-section {
    width: 48%; /* Ajustez la largeur selon vos besoins */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title {
    text-align: center;
}

.image-button {
    border: 3px solid #4BCBFF; /* Bordure bleue */
    background-color: #F6F5EE; /* Fond transparent */
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34%; /* Ajustez la largeur selon vos besoins */
}

/*PAGE 7*/
#gauche_page_7,
#droite_page_7{
    width: 48%;
}
#gauche_page_7{
    border-right: 1px solid #000;
    height: 870px;
}
#alignement_input_euro{
    margin-right: 25%;
}
.page-7-section {
    width: 48%; /* Ajustez la largeur selon vos besoins */
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#decallage_titre_page_7_droite{
    padding-left: 10%;
}
#input_page_7{
    border-radius: 6px;
    height: 30px;
    width: 75%;
    border: none;
}



#paypal_boutton{
    display: flex;
    width: 500px;
    justify-content:center;
}

/*PAGE 8*/
#gauche_page_8,
#droite_page_8{
    width: 48%;
}
#gauche_page_8{
    border-right: 1px solid #000;
    height: 870px;
}
.custom-button{
    padding-left: 5%;
}

.image-upload {
    display: none;
  }
  
  /* Masquer le texte par défaut pour l'élément de type fichier */
    #image-upload + label {
    cursor: pointer;
    padding: 10px;
    background-color: #4BCBFF;
    color: #fff;
    border: none;
    border-radius: 6px;
    opacity: 0; /* Rendre le texte invisible */
  }
  
  .custom-button {
    cursor: pointer;
    padding: 7px;
    background-color: #4BCBFF;
    color: #fff;
    border: none;
    border-radius: 6px;
    margin-left: 5%;
  }

.selected-image {
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
#division_colonnes_droite{
    display: flex;
    justify-content:space-around;
    
}
#images_colonne_gauche{
    width: 200px;
    padding: 5px;
}
#images_colonne_droite{
    width: 200px;
}
.image-upload-container{
    padding: 10px;
}
#page_1{
    display: block;
}
#page_2{
    display: none;
}
#page_3{
    display: none;
}

#page_4{
    display: none;
}
#page_5{
    display: none;
}
#page_6{
    display: none;
}
#page_7{
    display: none;
}
#page_8{
    display: none;
}
