@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    src: url("{{asset('/fonts/Montserrat-Regular.woff2')}}") format("woff2");
}

footer {
    background-color: #F6F5EE;
}

footer hr {
    width: 90%;
    margin: auto;
}

.haut img {
    width: 25%;
    margin-top: 1%;
}

#logo_petit {
    display: none;
}

@media screen and (max-width: 600px) {
    #logo_grand {
        display: none;
    }

    #logo_petit {
        display: block;
        width: 50%;
        margin: auto; /* Centrer l'image sur les petits écrans */
    }

    footer img {
        width: 70%; /* Ajustez la largeur comme nécessaire */
        margin: auto; /* Centrer l'image sur les petits écrans */
        margin-top: 5%;
    }
}

footer button {
    width: 100%; /* Ajustez la largeur comme nécessaire */
    height: 39.752px;
    border: none;
    border-radius: 6px;
    background-color: #EC3B53;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    letter-spacing: -0.225px;
}

footer table {
    margin: auto;
    margin-top: 2%;
    border-spacing: 0; /* Ajustez l'espacement entre les cellules */
    border-collapse: collapse;
    width: 100%; /* Utilisez la largeur complète du conteneur */
}

footer td, footer th {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.225px;
    padding: 10px; /* Ajoutez un remplissage pour un espacement */
    text-align: center; /* Centrez le texte */
}

footer a {
    outline: none;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.75);
}

footer a:link {
    color: rgba(0, 0, 0, 0.75);
}

.haut {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap; /* Permettre le passage à la ligne sur les petits écrans */
    justify-content: space-around; /* Espacement égal entre les éléments */
}

footer div p {
    color: rgba(0, 0, 0, 0.80);
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.225px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center; /* Centrez le texte */
}

.bas img {
    width: 50px; /* Ajustez la largeur comme nécessaire */
    height: auto; /* Ajustez la hauteur automatiquement */
    margin-left: 2%;
}

.bas {
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* Permettre le passage à la ligne sur les petits écrans */
    justify-content: space-around; /* Espacement égal entre les éléments */
    margin-top: 1%;
    padding-bottom: 3%;
    text-align: center; /* Centrez le texte */
}

.bas a {
    margin-top: 2%;
    color: rgba(0, 0, 0, 0.80);
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.225px;
}

.bas p {
    margin-top: 0;
    margin-bottom: 0;
}
