/* Ajout de styles pour le logo */
.logo {
    width: 80px; 
    height: auto;
    margin-bottom: 15px;
    margin-left: 1.5%;
    margin-right: 1.5%;
}

body {
    margin: 0;
    padding: 0;
}

.footer {
    background-color: #F6F5EE;
    color: #000000;
    padding: 40px 0;    
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-column {
    margin-bottom: 30px;
    text-align: center;
}

.footer-column h3 {
    margin-bottom: 15px;
    font-size: 1.2em;
    color: #000000;
    font-family: 'Montserrat';
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column li {
    margin-bottom: 10px;
}

.footer a {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s ease;
    width: 20%;
}

.footer a:hover {
    color: #EC3B53;
}

/* Ajout de styles pour la ligne en bas du footer */
.footer-line {
    border: none;
    height: 1px;
    background-color: #000000;
    margin: 20px auto;
    max-width: 90%;
}

/* Ajout de styles pour la section de l'adresse */
.footer-address {
    display: flex;
    flex-direction: row;
    text-align: center;
    color: #000000;
    justify-content: flex-start;
    align-items: center;
    margin-left: 5%;
}

@media (max-width: 500px) {
    .footer-container {
        justify-content: center;
    }

    .footer-column {
        flex: 0 0 100%;
        text-align: center;
    }
}

.footer-logo {
    width: 300px; /* Ajustez la taille selon vos besoins */
    height: 90px;
    margin-top: 30px;
}

@media screen and (max-width: 900px) {
    .footer-logo {
        display: none;
    }
}

footer button {
    width: 111.429px;
    height: 39.752px;
    border: none;
    border-radius: 6px;
    background-color: #EC3B53;
    float: right;
    margin-right: 5%;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    letter-spacing: -0.225px;
    margin-top: 50px;
}

.footer-address {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.basgauche {
    margin: 0;
}

.basdroite {
    margin-right: 5%;
}

.underline-hover {
    text-decoration: underline; /* Soulignement */
}
